.history-container { 
    margin-left: 140px;
    margin-right: 140px;
}


.grid-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}